# ----------------------
# Database connections
# ----------------------

# PostgreSQL Configuration
POSTGRES_HOST=127.0.0.1                # PostgreSQL server host
POSTGRES_USER=postgres                 # PostgreSQL user
POSTGRES_DB=postgres                   # PostgreSQL database name
DB_PASSWORD=your_postgres_password     # PostgreSQL password
POSTGRES_SHM_SIZE=256MB                # PostgreSQL shared memory size (optional)
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_DEFAULT_EMAIL=admin123@gmail.com

# Redis Configuration
REDIS_PASSWORD=your_redis_password     # Redis password

# Memory Limit for Docker containers (in bytes)
MEM_LIMIT=1073741824                         # Example: 1GB (1073741824 bytes)

# ----------------------
# Docker Compose (Optional)
# ----------------------

# COMPOSE_PROJECT_NAME=myproject             # Project namespace (optional, defaults to folder name)

# ----------------------
# MinIO Configuration
# ----------------------

MINIO_ROOT_USER=your_minio_root_user         # MinIO root username
MINIO_ROOT_PASSWORD=your_minio_root_password # MinIO root password
MINIO_ACCESS_KEY=your_minio_access_key       # MinIO access key
MINIO_SECRET_KEY=your_minio_secret_key       # MinIO secret key
